.rightNav{
    font-size: 26px;
    font-family: Helvetica, Arial, sans-serif;
    align-items:right;
    float:right;
}

.rightNav,
.item{
    display:inline-block;
    list-style-type: none; 
    padding: 15px;
    text-shadow: 4px 4px 4px darkblue;
}

.leftNav{
    font-size: 26px;
    justify-content: flex-start;
    font-family: Helvetica, Arial, sans-serif;
    align-items:left;
    float:left;
}

.leftNav,
.icon{
    display:inline-block;
    margin-left: 0%;
    list-style-type: none; 
    padding: 15px;
    flex-wrap:initial;
    white-space: nowrap;
}
.iconDetails{
    color:#d97802;
}
.iconDetails:hover{
    color:rgb(179, 100, 5);
}
.link{
    padding-left:25px;
    padding-right:25px;
    color: darkorange;
    font-weight: 500; 
}
.link:hover{
    text-decoration:none;
    color: rgba(228, 131, 5, 0.925);
}
.toggle{
    order: 1;
    font-size: 20px;
}

@media screen and (min-width: 0px) and (max-width: 539px) {
    .toggleIcon{
        display:block;
    }
    .link{
        display:none;
    }
}
@media screen and (min-width: 540px){
    .toggleIcon{
        display:none;
    }
}
